#carousel img {
    width: 85.25%;
    height: 800px;
    position: absolute;
    animation: fade 3s linear infinite;
}
/* 重置为初始状态，以便下一次动画 */
#carousel img.active {
    opacity: 1;
    animation-name: fade;
}
@keyframes fade {
    0% {
        opacity: 0.6;
    }
    20% {
        opacity: 0.8;
    }
    50% {
        opacity: 1;
    }
    95% {
        opacity: 0.9;
    }
    100% {
        opacity: 0.6;
    }
}